Repository kenyaachon/Vuejs-VideoChatApp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier
  language: node

eslint:
  name: eslint
  entry: npm run lint
  language: node

Add more styled navigation bar for
  src/components/Home.vue
  src/components/Navigation.vue
Due: none

add login form
  package-lock.json
  package.json
  src/components/Login.vue
  src/main.ts
Due: prettier, eslint

Add initialy functionality for allowing user to login
  src/components/Login.vue
Due: none

Add Register page for users
  src/components/Login.vue
  src/components/Register.vue
  src/main.ts
Due: prettier, eslint

Add initial vuex configuration
  package-lock.json
  package.json
  src/App.vue
  src/components/Login.vue
  src/components/Navigation.vue
  src/components/Register.vue
  src/main.ts
  src/store.ts
  src/vuex.d.ts
Due: prettier, eslint

enable users to logout
  src/components/Navigation.vue
  src/components/Register.vue
  src/store.ts
  src/vuex.d.ts
Due: prettier, eslint

fixed logout issue for show logout vs login button
  src/components/Home.vue
  src/components/Navigation.vue
  src/store.ts
Due: prettier, eslint

update navbar to stay at the top
  src/components/Home.vue
  src/components/Navigation.vue
  src/main.ts
Due: prettier, eslint

add inital room page setup
  src/components/Navigation.vue
  src/components/Room.vue
  src/main.ts
Due: prettier, eslint

improve form validation for registration and login page
  README.md
  package-lock.json
  package.json
  src/App.vue
  src/components/Home.vue
  src/components/Login.vue
  src/components/Navigation.vue
  src/components/Register.vue
Due: prettier

clean up the login, register page
  src/components/Login.vue
  src/components/Register.vue
Due: none

clean up home page, and improve navigation style
  src/components/Home.vue
  src/components/Navigation.vue
Due: none

clean up startup code from template
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
Due: none

improve button nav button styling
  src/components/Navigation.vue
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
Due: none

update what object we store for the user, and also add functionalty for adding new user to firestore
  package-lock.json
  package.json
  src/App.vue
  src/components/Home.vue
  src/components/Login.vue
  src/components/Navigation.vue
  src/components/Register.vue
  src/components/Room.vue
  src/main.ts
  src/store.ts
  src/vuex.d.ts
Due: prettier, eslint

enble users to see status info when adding a new room
  src/components/Room.vue
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
